bibliography/Autili2020[[:space:]]-[[:space:]]A[[:space:]]Hybrid[[:space:]]Approach[[:space:]]to[[:space:]]Microservices[[:space:]]Load[[:space:]]Balancing.pdf filter=lfs diff=lfs merge=lfs -text
bibliography/Barney[[:space:]]G.[[:space:]]Glaser,[[:space:]]Anselm[[:space:]]L.[[:space:]]Strauss[[:space:]]-[[:space:]]The[[:space:]]discovery[[:space:]]of[[:space:]]grounded[[:space:]]theory_[[:space:]]strategies[[:space:]]for[[:space:]]qualitative[[:space:]]research[[:space:]][[:space:]][[:space:]](2006,[[:space:]]Aldine[[:space:]]Transaction)[[:space:]]-[[:space:]]libgen.lc.pdf filter=lfs diff=lfs merge=lfs -text
bibliography/Goldkuhl2019[[:space:]]-[[:space:]]The[[:space:]]Generation[[:space:]]of[[:space:]]Qualitative[[:space:]]Data[[:space:]]in[[:space:]]Information[[:space:]]Systems[[:space:]]Research_[[:space:]]the[[:space:]]Diversity[[:space:]]of[[:space:]]Empirical[[:space:]]Research[[:space:]]Methods.pdf filter=lfs diff=lfs merge=lfs -text
bibliography/Hiraman2018[[:space:]]-[[:space:]]A[[:space:]]Study[[:space:]]of[[:space:]]Apache[[:space:]]Kafka[[:space:]]in[[:space:]]Big[[:space:]]Data[[:space:]]Stream[[:space:]]Processing.pdf filter=lfs diff=lfs merge=lfs -text
bibliography/Runeson2012[[:space:]]-[[:space:]]Case[[:space:]]Study[[:space:]]Research[[:space:]]in[[:space:]]Software[[:space:]]Engineering_[[:space:]]Guidelines[[:space:]]and[[:space:]]Examples.pdf filter=lfs diff=lfs merge=lfs -text
bibliography/Sam[[:space:]]Newman[[:space:]]-[[:space:]]Building[[:space:]]Microservices[[:space:]](2015,[[:space:]]O'Reilly[[:space:]]Media)[[:space:]]-[[:space:]]libgen.lc.pdf filter=lfs diff=lfs merge=lfs -text
bibliography/Setzke2020[[:space:]]-[[:space:]]On[[:space:]]the[[:space:]]Use[[:space:]]of[[:space:]]Qualitative[[:space:]]Comparative[[:space:]]Analysis[[:space:]]in[[:space:]]Information[[:space:]]Systems[[:space:]]Research[[:space:]]a[[:space:]]Critical[[:space:]]Review.pdf filter=lfs diff=lfs merge=lfs -text
bibliography/Vogel2017[[:space:]]-[[:space:]]Experiences[[:space:]]on[[:space:]]Migrating[[:space:]]RESTful[[:space:]]Web[[:space:]]Services[[:space:]]to[[:space:]]GraphQL.pdf filter=lfs diff=lfs merge=lfs -text
